
.header {
    height: 100vh;
    width: 100vw;
    background-image:
        linear-gradient(
                 to bottom right,
                 darken(rgba(#C4AAAA, 1), 50%),
                 darken(rgba(#C4AAAA, 0.4), 50%)
             ),
        url('../assets/header_bg.jpg');
    color: $color-white;
    
    &__landing {
        display: flex;
        height: inherit;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: $font-size-header-large;
        font-weight: 100;

        &__attribute {
            margin: 2rem;
            background-image: linear-gradient(to bottom, $color-white 33%, transparent 33%);
            background-position: 0 ($font-size-header-large + 1);
            background-repeat: repeat-x;
            background-size: 1px 1.5rem;
        }
    }
}

@media only screen and (max-width: $media-screen-medium) {
    .header__landing {
        font-size: $font-size-header-medium;

        &__attribute {
            background-position: 0 ($font-size-header-medium + 1);
        }
    }
}

@media only screen and (max-width: $media-screen-small) {
    .header__landing {
        padding-bottom: 5rem;
        font-size: $font-size-header-small;

        &__attribute {
            background-position: 0 ($font-size-header-small + 1);
        }
    }
}

@media only screen and (max-width: $media-screen-xsmall) {
    .header__landing {
        font-size: $font-size-header-xsmall;

        &__attribute {
            background-position: 0 ($font-size-header-xsmall + 1);
        }
    }
}