
.header {
    height: 100vh;
    background-color: orangered;

    &__landing {
        display: flex;
        height: inherit;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 60rem;
        font-weight: 100;

        &__attribute {
            margin: 2rem;
            background-image: linear-gradient(to bottom, black 33%, transparent 33%);
            background-position: 0 61rem;
            background-repeat: repeat-x;
            background-size: 1px 1.5rem;
        }
    }
}