.section_interactive_graph {
    height: 100vh;
    background-image:
        linear-gradient(
            to bottom right,
            darken(rgba(#C4AAAA, 1), 50%),
            darken(rgba(#C4AAAA, 0.4), 50%)
        ),
        url(../assets/bottle-caps.jpg);

    &__container {
        float: left;
        width: 60%;
        height: 70%;
    }

    &__card_wrapper {
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;

        & > i {
            font-size: $icon-size;
            font-weight: 700;
            color: $color-white;
            &:hover {
                cursor: pointer;
            }
        }
        
    }
}

.section_continue_search {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:
        linear-gradient(
            to bottom right,
            darken(rgba(#C4AAAA, 1), 50%),
            darken(rgba(#C4AAAA, 0.4), 50%)
        ),
        url(../assets/cans.jpg);
    
    color: $color-white;

    &__title {
        font-size: $font-size-continue_search-large;
        font-weight: 100;
    }

    &__search {
        display: flex;
        padding: 2rem;

        &__basic-search {
            padding: 1rem;
        }

        &__filter-search {
            &--aside,
            &--bside {
                padding: 1rem;
            }
        }
    }
}

.search-by-attribute {
    display: inline-block;
    padding: 1rem;

    &__attribute {
        padding: .5rem;
        font-size: 2rem;
    }

    &__input > input::-webkit-inner-spin-button,
    &__input > input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@media only screen and (max-width: $media-screen-medium) {
    .section_continue_search__title {
        font-size: $font-size-continue_search-medium;
    }
}

@media only screen and (max-width: $media-screen-small) {
    .section_continue_search__title {
        font-size: $font-size-continue_search-small;
    }
}

@media only screen and (max-width: $media-screen-xsmall) {
    .section_continue_search__title {
        font-size: $font-size-continue_search-xsmall;
    }
}