$color-black: rgba(#000, 1);
$color-white: rgba(#FFF, 1);

$font-size-header-large: 55rem;
$font-size-header-medium: 40rem;
$font-size-header-small: 30rem;
$font-size-header-xsmall: 20rem;

$font-size-interactive-large: 3rem;
$font-size-interactive-medium: 2.5rem;
$font-size-interactive-small: 2.2rem;

$font-size-card-large: 3rem;
$font-size-card-medium: 2.5rem;
$font-size-card-small: 2.2rem;

$media-screen-medium: 1050px;
$media-screen-small: 700px;
$media-screen-xsmall: 525px;