$color-black: rgba(#000, 1);

$font-size-large: 60rem;
$font-size-medium: 40rem;
$font-size-small: 30rem;
$font-size-xsmall: 20rem;

$media-screen-medium: 1050px;
$media-screen-small: 700px;
$media-screen-xsmall: 525px;